main { 
    margin: 1rem 0;
}
.col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.col__img { 
    width: 45px;
    height: 45px;
    object-fit: cover;
}